body {
  width: 1000px;      /* 2x (LC fullwidth +
                            CC padding) + RC fullwidth */
}
#header {
    background-color:black;
    color:white;
    text-align:center;
}
#container {
  background-color: LightGrey;
  height: 1326px;
  position: relative;
}
#container .column {
  float: left;
}
#center 
{
  width: 100%;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    position:absolute;
    bottom: 0;
    width: 100%;
}