body {
  width: 712px;      /* 2x (LC fullwidth +
                            CC padding) + RC fullwidth */
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#container {
  padding-left: 0px;   /* LC width */
  padding-right: 10px;  /* RC width */
  height: 900px;
}
#container .column {
  position: relative;
  float: left;
}
#center 
{
  padding: 10px 10px;    /* CC padding */
  width: 100%;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}